.App {
  text-align: center;
}

.input{
  width: 50%;
  padding: 12px 20px;
  margin: 4px;
  box-sizing: border-box;
  border: none;
  background-color: #2a1b30;
  color: white;
  font-style: unset;
  align-items: center;
  text-decoration: solid;
  font-weight: unset;
  text-decoration: solid;
}

a{
  color: white;
  text-decoration: none;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}



h1{
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 10px;
  font-weight: lighter;
}

.App-header {
  background-color: #2a1b30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.input2{
  background:#2a1b30;
  color: white;
  padding: 14px;
  border-color: white;
  width: 50%;
  height: 50px;
  text-align: center;
  padding-bottom: 5px;
  text-decoration: solid;
  font-size: unset;
  font-style: unset;
}

p{
  color: white;
  font-size: medium;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
